<% provide(:title, @taxon.name) %>
<%= render 'layouts/light_section', product: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'potepan/categories/taxonomy_navbar', taxonomies: @taxonomies %>
        <%= render 'potepan/categories/navbar_other_options' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/categories/products_filter' %>
        <div class="row">
          <%= render partial: 'potepan/shared/product', locals: { class_word: 'col-sm-4' }, collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'potepan/categories/light_section' %>
